.orange {
  background-color: orange;
}

.yellow{
  background-color: #FFD700;
}

.height-700{
  height: 700px;
}

.border-white{
/* text-shadow: 2px 2px white; */
   -webkit-text-stroke-width: 1px; /* largura da borda */
   -webkit-text-stroke-color: white; /* cor da borda */
   -webkit-text-fill-color: black;
}

.cao-banner{
  background-image: url("https://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia26393/racas-de-caes-cpt.jpg");
  background-size: cover;
}