<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sobre mim</title>
</head>
<body>
<h2>Sobre mim</h2>
<hr>
	{% for value in dict_dogs %}
		<details>
			<summary>{{value.dog}}</summary>
			<p>{{value.tutor}}</p>
		</details>
	{% endfor %}
	<form action="{{url_for('aboutus')}}" method="POST">
		<label>Cachorro</label>
		<input type="text" name="dog" required>
		<label>Tutor</label>
		<input type="text" name="tutor" required>
		<button>Adicionar</button>
	</form>
</body>
</html>