<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Main page">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Bootstrap Select CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Main</title>
    </head>

    <body class="container">

        <header>
            <nav class="navbar navbar-expand-lg orange">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Cãopanheiro</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#">Nossos Animais</a>
                            <a class="nav-link" href="#">Sobre</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid justify-content-end">
                    <form>
                        <button class="btn btn-sm btn-outline-secondary" type="button">
                            Login / Cadastro
                        </button>
                    </form>
                </div>
            </nav>
        </header>

        <main>
            <section>
                <form action="{{url_for('dogregister')}}" method="POST" class="form-control">
                    <h1 class="my-3">Cadastro do Cachorro</h1>
                    <div class="mb-3 form-group">
                        <label for="name" class="form-label">Nome</label>
                        <input id="name" type="text" class="form-control" placeholder="Nome do cachorro" name="name"
                               required>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label" for="age">Idade</label>
                        <select id="age" name="age" class="form-select" aria-label="Default select example">
                            <option value="nan" selected>Selecione a idade</option>
                            <option value="Filhote">Filhote</option>
                            <option value="Jovem">Jovem</option>
                            <option value="Adulto">Adulto</option>
                            <option value="Idoso">Idoso</option>
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Sexo</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="sex_male" class="form-check-input" type="radio" name="sex" value="Macho">
                                <label class="form-check-label" for="sex_male">
                                    Macho
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="sex_female" class="form-check-input" type="radio" name="sex" value="Femea">
                                <label class="form-check-label" for="sex_female">
                                    Femea
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label for="size" class="form-label">Tamanho</label>
                        <select id="size" name="size" class="form-select" aria-label="Default select example">
                            <option value="nan" selected>Selecione o tamanho</option>
                            <option value="Pequeno">Pequeno</option>
                            <option value="Médio">Médio</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Castração</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_fixed" class="form-check-input" type="radio" name="fixed" value="Sim">
                                <label class="form-check-label" for="is_fixed">
                                    É castrado
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_fixed" class="form-check-input" type="radio" name="fixed" value="Não">
                                <label class="form-check-label" for="not_fixed">
                                    Não é castrado
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Treinado para dentro de casa</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_house_trained" class="form-check-input" type="radio" name="house_trained" value="Sim">
                                <label class="form-check-label" for="is_house_trained">
                                    É treinado
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_house_trained" class="form-check-input" type="radio" name="house_trained" value="Não">
                                <label class="form-check-label" for="not_house_trained">
                                    Não é treinado
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Necessidades especiais</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_special_needs" class="form-check-input" type="radio" name="special_needs" value="Sim">
                                <label class="form-check-label" for="is_special_needs">
                                    Possui
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_special_needs" class="form-check-input" type="radio" name="special_needs" value="Não">
                                <label class="form-check-label" for="not_special_needs">
                                    Não possui
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Vacinação</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_shots_current" class="form-check-input" type="radio" name="shots_current" value="Sim">
                                <label class="form-check-label" for="is_shots_current">
                                    Em dia
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_shots_current" class="form-check-input" type="radio" name="shots_current" value="Não">
                                <label class="form-check-label" for="not_shots_current">
                                    Não está em dia
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Convive bem com crianças</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_env_children" class="form-check-input" type="radio" name="env_children" value="Sim">
                                <label class="form-check-label" for="is_env_children">
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_env_children" class="form-check-input" type="radio" name="env_children" value="Não">
                                <label class="form-check-label" for="not_env_children">
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Convive bem com cachorros</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_env_dogs" class="form-check-input" type="radio" name="env_dogs" value="Sim">
                                <label class="form-check-label" for="is_env_dogs">
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_env_dogs" class="form-check-input" type="radio" name="env_dogs" value="Não">
                                <label class="form-check-label" for="not_env_dogs">
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Convive bem com gatos</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input id="is_env_cats" class="form-check-input" type="radio" name="env_cats" value="Sim">
                                <label class="form-check-label" for="is_env_cats">
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="not_env_cats" class="form-check-input" type="radio" name="env_cats" value="Não">
                                <label class="form-check-label" for="not_env_cats">
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label" for="photo">Foto</label>
                        <input id="photo" class="form-control" type="text" name="photo" placeholder="Foto do cachorro" required>
                    </div>


                    <button type="submit" class="btn btn-warning mb-3">Cadastrar</button>
                </form>
            </section>
        </main>

        <footer class="orange">
            <nav class="navbar">
                <div class="container-fluid">
                    <p class="mt-3"><small>© Copyright 2024</small></p>
                    <p class="navbar-brand mb-0"><b>Cãopanheiro</b></p>
                    <div>
                        <i class="bi bi-instagram h2"></i>
                        <i class="bi bi-facebook h2 ms-2"></i>
                        <i class="bi bi-github h2 ms-2"></i>
                    </div>
                </div>
            </nav>
        </footer>

        <!-- jQuery, Bootstrap JS, and Bootstrap Select JS -->
        <!--  jquery   -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--  bootstrap 5  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>

        <script>
            //     enable and disable dog breeds
            $(document).ready(function(){
                $('input[name="radioBreedKnown"]').on('change', function(){
                   if($(this).val() === 'breedunknown') {
                     $('.attr-sys').prop('disabled', true);
                     $('.attr-sys').val('');
                   }
                   else {
                     $('.attr-sys').prop('disabled', false);
                     $('.attr-sys').val('');
                   }
                });
            });
        </script>

    </body>

</html>