{% extends 'base.html' %}
{% block conteudo %}
<div class="viewport-height">
    <h1 class="my-3" style="text-align: center;">Login</h1>
    <form action="{{url_for('login')}}" method="POST" class="form-control">
        <div class="mb-3 form-group">
            <label for="email" class="form-label">Usuário</label>
            <input id="email" type="text" class="form-control" placeholder="exemplo@exemplo.com" name="email"
                   required>
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">Senha</label>
            <input id="password" type="password" class="form-control" placeholder="digite sua senha" name="password"
                   required>
        </div>

        <button type="submit" class="btn btn-warning mb-3">Entrar</button>
    </form>

    <p>Ainda não possui cadastro? <a href="{{ url_for('user_register') }}">Cadastre-se</a></p>
</div>
{% endblock conteudo %}