<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Registro</h1>

    <form method="POST">
        <!-- CSRF protection -->
        {{ form.hidden_tag() }}
        <div>
            {{ form.regCPF.label }} <br>
            {{ form.regCPF() }}
        </div>

        <div>
            {{ form.regName.label }} <br>
            {{ form.regName() }}
        </div>

        <div>
            {{ form.regEmail.label }} <br>
            {{ form.regEmail() }}
        </div>

        <div>
            {{ form.regPhone.label }} <br>
            {{ form.regPhone() }}
        </div>

        <div>
            {{ form.regPassword.label }} <br>
            {{ form.regPassword() }}
        </div>

        <div>
            {{ form.regDateRegister.label }} <br>
            {{ form.regDateRegister() }}
        </div>

        <div>
            {{ form.regState.label }} <br>
            {{ form.regState() }}
        </div>

        <div>
            {{ form.regCity.label }} <br>
            {{ form.regCity() }}
        </div>

        <div>
            {{ form.regZipCode.label }} <br>
            {{ form.regZipCode() }}
        </div>

        <div>
            {{ form.submit() }}
        </div>

    </form>
    
</body>
</html>